.landing-container {
    text-align: center;
    padding-top: 7vh;
    height: calc(100vh - 90px);
    min-width: max-content;

    .landing-img {
        width: 320px;
    }
    
    .landing-search-container {
        min-width: 600px;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;

        .landing-search-bar {
            width: 460px;
            background: rgb(245, 245, 245);
            border-radius: 5px 0 0 5px;
        }

        .landing-search-button {
            height: 40px;
            width: max-content;
        }
    }
}