.upcoming-container {
    position: fixed;
    bottom: 0;
    // ~550px is the min width of the upcoming container
    left: calc(100vw - 550px);
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(87, 87, 87, 0.8);
    border-radius: 10px 10px 0 0;
    padding: 5px 20px;

    .upcoming-header {
        color: white;
        font-family: 'Courier New', Courier, monospace;
        font-size: 34px;
        font-weight: 500;
        margin-bottom: 10px;
        width: max-content;
        display: flex;
        align-items: center;
    
        .upcoming-button {
            margin-left: 10px;
        }
        .upcoming-button:hover {
            color: white;
        }
    }
    
    // this selector acts as a kind of previous sibling selector when used with ".upcoming-card:hover~.upcoming-card" selector
    // applies to all upcoming-cards, but the non-previous-sibling upcoming-cards get overwritten by the above selector
    .upcoming-card-list:hover .upcoming-card {
        transform: translateX(-125px);
    }
    .upcoming-card-list {
        display: flex;
        margin-bottom: -270px;
    
        .upcoming-card {
            height: 325px;
            width: 250px;
            padding: 4px 5px 0 12px;
            border-radius: 15px;
            background: rgb(219,219,219);
            box-shadow: 5px 7.5px 1.25rem #000;
            transition: 0.5s;
            font-size: 15px;
            position: relative;
            /* hide scrollbar */
            overflow: scroll;
            scrollbar-width: none;
            -ms-overflow-style: none;
        }
        
        /* hide scrollbar */
        .upcoming-card::-webkit-scrollbar {
            display: none;
        }
        
        .upcoming-card:hover {
            transform: translateY(-275px);
            background: rgb(228, 228, 228);
        }

        .upcoming-card:hover~.upcoming-card {
            transform: translateX(175px);
        }
        
        .upcoming-card:not(:first-child) {
            margin-left: -175px;
        }
        
        .due-soon {
            background: rgb(236, 214, 214);
        }
        
        .due-soon:hover {
            background: rgb(245, 206, 206);
        }
        
        .upcoming-card-header {
            height: 50px;
            border-bottom: solid 2px;
            margin-bottom: 0.5rem;
            overflow: hidden;
        }
        
        .upcoming-card-header > * {
            margin: 0;
        }
        
        .upcoming-card-body p {
            white-space: pre-line;
        }
        
        .upcoming-card-button {
            float: right;
            margin: 0.5rem;
        }
    }
}

@media screen and (max-height: 500px), (max-width: 800px) {
    .upcoming-container {
        display: none;
    }
}