.topbar-container {
    position: sticky;
    left: 0;
    background-color: rgb(73, 73, 73);
    height: 90px;
    width: 100vw;
    min-width: max-content;
    font-size: 20px;
    display: flex;
    align-items: center;

    .topbar-logo {
        height: 54px;
        padding-top: 5px;
        margin: 0 1.5rem 0 1rem;
    }

    .topbar-item {
        color: white;
        font-size: 20px;
        text-decoration: none;
        margin-right: 1rem;
    }

    .topbar-button {
        height: 40px;
        margin: 0 1.5rem 0 1rem;
        position: absolute;
        right: 0;
    }

    @media screen and (max-width: 600px) {
        .topbar-button {
            position: static;
        }
    }
}