@keyframes shiftingGradient {
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
}

@keyframes slideUp {
    50% {transform: translateY(-5px);}
    100% {transform: translateY(0);}
}

@keyframes slideDown {
    50% {transform: translateY(5px);}
    100% {transform: translateY(0);}
}

.weather-container {
    padding: 1rem;
    flex-grow: 1;

    .current-weather-container {
        padding: 10px 0;
        text-align: center;
        font-weight: 600;
        color: rgb(0, 0, 0);
        height: 300px;
        width: 260px;
        border-radius: 10px;
        margin: 1rem 0;
    }

    .hourly-weather-container {
        display: flex;
        height: 300px;
        margin: 1rem 0;

        .hourly-header {
            background: #369;
            width: 50px;
            border-radius: 10px 0 0 10px;
        
            .hourly-header-text {
                font: bold 20px Sans-Serif;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: #fff;
                position: relative;
                top: 53%;
                transform: rotate(270deg);
            }
        }

        .hourly-weather {
            padding-left: 0.5rem;
            font-weight: 500;
            color: rgb(0, 0, 0);
            width: 210px;
            border-radius: 0 10px 10px 0;
    
            div {
                margin: 7px 1rem;
            }
        }
    }
    
    .daily-weather-container {
        display: flex;
        height: 300px;
        border-radius: 10px;
        margin: 1rem 0;

        .daily-header {
            background: #369;
            width: 50px;
            border-radius: 10px 0 0 10px;
        
            .daily-header-text {
                font: bold 20px Sans-Serif;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: #fff;
                position: relative;
                top: 48%;
                transform: rotate(270deg);
            }
        }

        .daily-weather {
            padding-left: 0.5rem;
            font-weight: 500;
            color: rgb(0, 0, 0);
            width: 210px;
            border-radius: 0 10px 10px 0;
    
            div {
                margin: 7px 1rem;
            }
        }
    }
    
    .weather-shifting-bg {
        animation: shiftingGradient 120s ease infinite;
        background-size: 200% 200%;
    }
    
    .weather-clear-bg {
        background: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), url('../../assets/clear.jpg');
    }
    
    .weather-cloud-bg {
        background: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), url('../../assets/cloud.jpg');
    }
    
    .weather-rain-bg {
        background: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), url('../../assets/rain.jpg');
    }
    
    .weather-snow-bg {
        background: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), url('../../assets/snow.jpg');
    }
    
    .weather-mist-bg {
        background: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), url('../../assets/mist.jpg');
    }
}

@media screen and (max-width: 800px) {
    .weather-container {
        display: flex;
        width: 780px;

        .current-weather-container {
            border-radius: 10px 0 0 10px;
        }
    
        .hourly-weather-container {
            .hourly-header {
                border-radius: 0;
            }
            .hourly-weather {
                border-radius: 0;
            }
        }
    
        .daily-weather-container {
            .daily-header {
                border-radius: 0;
            }
            .daily-weather {
                border-radius: 0 10px 10px 0;
            }
        }
    }
}