.navbar-button {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.home-container {
    display: grid;
    grid-auto-columns: 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw 10vw;
    grid-auto-rows: 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh;
    grid-template-areas:
        "news news news news weather weather weather weather weather weather"
        "news news news news weather weather weather weather weather weather"
        "news news news news weather weather weather weather weather weather"
        "news news news news weather weather weather weather weather weather "
        "news news news news weather weather weather weather weather weather"
        "news news news news quote quote quote quote quote quote"
        "news news news news quote quote quote quote quote quote"
        "news news news news quote quote quote quote quote quote"
}