$calendar-colour: #e76161;

.dateIconWrapper {
  position: relative;

  .overlay {
    position: absolute;
    z-index: 10;
    pointer-events: none;
  }

  .cross {
    background: url("../assets/red-X.png");
    background-size: cover;
    height: 100px;
    width: 100px;
    left: -5px;
  }

  .circle {
    background: url("../assets/red-O.png");
    background-size: cover;
    height: 120px;
    width: 180px;
    left: -50px;
    top: -10px;
  }

  .dateIcon {
    height: 90px;
    width: 75px;
    border-radius: 5px;
    background-color: var(--light);
    border: 2px solid;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    position: relative;

    .iconHeader {
      height: 30px;
      border-radius: 3px 3px 0 0;
      background-color: $calendar-colour;
      border-bottom: 1px solid;
      font-weight: 600;
      font-size: 22px;
    }

    .iconBody {
      font-size: 40px;
    }

    .iconBodyBg {
      position: absolute;
      top: 60px;
      right: 5px;
      transform: rotateZ(-15deg);
      font-size: 18px;
      color: $calendar-colour;
      font-weight: 600;
      border: 1px solid $calendar-colour;
      border-radius: 5px;
    }
  }
}
