:root {
  --background: #ececec;
  --foreground: #3f3f3f;
  --light: #f5f5f5;
  --dark: #222222;
  --grey: #808080;
  --grey-dark: #636363;
  --grey-bg: #c9c9c980;
  --emphasis: #4c4c5f;
  --emphasis-dark: #363643;
  --emphasis-light: #676781;
  --emphasis-bg: #6767812f;
  --emphasis-bg-dark: #676781ea;
  --contrast: #f07c68;
  --link: #2088fc;
  --selectable: #4c4c5f2a;
  --white: #ffffff;
  --black: #000000;
}

html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100%;
  margin: 0;
  background: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

/* Text Field Component */
.text-field {
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1.5px solid var(--grey);
  padding: 0.25em 0.125em;
  font-size: inherit;
  position: relative;
}
.text-field:focus {
  border: none;
  outline: none;
  border-bottom: 1.5px solid var(--emphasis);
}

/* Toggle Component */
.toggle {
  width: 3em;
  height: 1.5em;
  border: 1.5px solid;
  border-radius: 1.5em;
  cursor: pointer;
  position: relative;
}
.toggle.off {
  border-color: var(--grey);
}
.toggle.off::before {
  content: "";
  position: absolute;
  top: 1.5px;
  left: 1.5px;
  width: calc(1.5em - 3px);
  height: calc(1.5em - 3px);
  border-radius: 50%;
  background-color: var(--grey);
  animation: toggle-off 300ms;
}
@keyframes toggle-off {
  0% {
    left: calc(1.5em - 1.5px);
    width: calc(1.5em - 3px);
  }
  30% {
    width: 1.75em;
  }
  100% {
    left: 1.5px;
    width: calc(1.5em - 3px);
  }
}
.toggle.on {
  border-color: var(--emphasis);
}
.toggle.on::after {
  content: "";
  position: absolute;
  top: 1.5px;
  left: calc(1.5em - 1.5px);
  width: calc(1.5em - 3px);
  height: calc(1.5em - 3px);
  border-radius: 50%;
  background-color: var(--emphasis);
  animation: toggle-on 300ms;
}
@keyframes toggle-on {
  0% {
    left: 1.5px;
    width: calc(1.5em - 3px);
  }
  30% {
    width: 1.75em;
  }
  100% {
    left: calc(1.5em - 1.5px);
    width: calc(1.5em - 3px);
  }
}

/* Icon Button Component */
.icon-button {
  width: max-content;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: scale 300ms;
}
.icon-button:hover {
  scale: 1.2;
}
.icon-button:active {
  scale: 0.9;
}

/* Loading Component */
.loading {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  position: relative;
  animation: spin 600ms infinite;
}
.loading::before,
.loading:after {
  content: "";
  position: absolute;
  left: 0.75em;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
}
.loading::before {
  top: 0;
  background-color: var(--emphasis);
}
.loading::after {
  bottom: 0;
  background-color: var(--emphasis-light);
}
@keyframes spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
