:root {
  --background: #ececec;
  --foreground: #3f3f3f;
  --light: #f5f5f5;
  --dark: #222222;
  --grey: #808080;
  --grey-dark: #636363;
  --grey-bg: #c9c9c980;
  --emphasis: #4c4c5f;
  --emphasis-dark: #363643;
  --emphasis-light: #676781;
  --emphasis-bg: #6767812f;
  --contrast: #f07c68;
  --link: #2088fc;
  --selectable: #4c4c5f2a;
  --white: #ffffff;
  --black: #000000;
}

html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100%;
  margin: 0;
  background: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

/* Utility Classes */
.fill {
  width: 100%;
  height: 100%;
}

/* Icon Button */
.icon-button {
  width: max-content;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--grey-dark);
  transition: scale 150ms;
  animation: pop 150ms;
}
.icon-button:hover,
.icon-button:focus-visible {
  scale: 1.2;
  outline: none;
}
.icon-button:active {
  scale: 0.9;
  animation: none;
}
@keyframes pop {
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Text Field */
.text-field {
  border: none;
  outline: none;
  width: 100%;
  background-color: transparent;
  border-bottom: 1.5px solid var(--emphasis-bg);
  padding: 0.25em 0;
  font-size: inherit;
  font-family: inherit;
  resize: none;
}
.text-field:focus-visible {
  border: none;
  outline: none;
  border-bottom: 1.5px solid var(--emphasis-light);
}

/* Text Field Container + Label */
.text-field-container {
  position: relative;
  font-size: inherit;
  width: 100%;
  border-radius: 0.25em 0.25em 0 0;
  padding-top: 9px;
}
.text-field-container:focus-within > .text-field-label-0 {
  font-size: 9px;
  top: 0;
}
.text-field-container:focus-within > .text-field-label-0,
.text-field-container:focus-within > .text-field-label-1 {
  color: var(--emphasis-light);
}
.text-field-label-0 {
  position: absolute;
  left: 0.125em;
  top: 12px;
  color: var(--grey);
  font-size: inherit;
  transition: font-size 150ms, top 150ms;
}
.text-field-label-1 {
  position: absolute;
  left: 0.125em;
  top: 0;
  color: var(--grey);
  font-size: 9px;
}

/* Toggle */
.toggle {
  width: 3em;
  height: 1.5em;
  border: 1.5px solid;
  border-radius: 1.5em;
  cursor: pointer;
  position: relative;
}
.toggle.off {
  border-color: var(--grey);
}
.toggle.off::before {
  content: "";
  position: absolute;
  top: 1.5px;
  width: calc(1.5em - 3px);
  height: calc(1.5em - 3px);
  border-radius: 50%;
  background-color: var(--grey);
  animation: toggle-off 300ms forwards;
}
@keyframes toggle-off {
  0% {
    left: 1.5em;
    width: calc(1.5em - 3px);
  }
  30% {
    width: 1.8em;
  }
  100% {
    left: 3px;
    width: calc(1.5em - 3px);
  }
}
.toggle.on {
  border-color: var(--emphasis);
}
.toggle.on::after {
  content: "";
  position: absolute;
  top: 1.5px;
  width: calc(1.5em - 3px);
  height: calc(1.5em - 3px);
  border-radius: 50%;
  background-color: var(--emphasis);
  animation: toggle-on 300ms forwards;
}
@keyframes toggle-on {
  0% {
    left: 3px;
    width: calc(1.5em + 3px);
  }
  30% {
    width: 1.8em;
  }
  100% {
    left: 1.5em;
    width: calc(1.5em - 3px);
  }
}
