.newsWeatherContainer {
  display: flex;
  justify-content: space-evenly;
  overflow-y: scroll;
  // changes scrollbar on Firefox
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color) var(--scrollbar-bg);
}

// changes scrollbar on Chrome
.newsWeatherContainer::-webkit-scrollbar {
  width: 10px;
}

.newsWeatherContainer::-webkit-scrollbar-track {
  background: var(--scrollbar-bg);
}

.newsWeatherContainer::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 20px;
}

@media screen and (max-width: 900px) {
  .newsWeatherContainer {
    flex-direction: column-reverse;
  }
}
