.newsWeatherContainer {
  display: flex;
  justify-content: space-evenly;
  overflow-y: scroll;
}

@media screen and (max-width: 1024px) {
  .newsWeatherContainer {
    flex-direction: column-reverse;
  }
}
