.news-container {
    grid-area: news;
    margin: 1rem 1rem 1rem 1rem;
    box-shadow: -10px -10px 8px -2px rgb(201, 201, 201);
    border: solid;
    border-width: 3px;
    border-radius: 8px;
    border-color: rgb(233, 233, 233);
    background-image: url('../img/newspaper.jpg');
    background-repeat: repeat;
    height: 100%;
    overflow: hidden;
}

.news-container:hover {
    box-shadow: 10px 10px 8px #888888;
    transform: translate(2px, 2px);
}

.news-top {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.news-item {
    display: block;
}

.news-img {
    display: inline;
    width: 50px;
    height: 50px;
    float: left;
    opacity: 75%;
}

.news-title {
    display: block;
    font-weight: 400;
}

.news-description {
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    float: left;
}

@keyframes shiftingGradient {
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
}

.weather-container {
    grid-area: weather;
    margin: 1rem 1.5rem 1rem 0.5rem;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 30% 10% 25% 10% 25%;
    grid-template-rows: 100%;
    grid-template-areas: "currWeather hourlyHeader hourlyWeather dailyHeader dailyWeather";
    overflow: hidden;
}

.current-weather-container {
    grid-area: currWeather;
    text-align: center;
    font-weight: 500;
    color: rgb(0, 0, 0);
}

.hourly-weather-container {
    grid-area: hourlyWeather;
    padding-left: 0.5rem;
    font-weight: 400;
    color: rgb(0, 0, 0);
}

.daily-weather-container {
    grid-area: dailyWeather;
    padding-left: 0.5rem;
    font-weight: 400;
    color: rgb(0, 0, 0);
}

.weather-shifting-bg {
    animation: shiftingGradient 120s ease infinite;
    background-size: 200% 200%;
}

.weather-clear-bg {
    background: url('../img/clear.jpg');
}

.weather-cloud-bg {
    background: url('../img/cloud.jpg');
}

.weather-rain-bg {
    background: url('../img/rain.jpg');
}

.weather-snow-bg {
    background: url('../img/snow.jpg');
}

.weather-mist-bg {
    background: url('../img/mist.jpg');
}

.hourly-header {
    grid-area: hourlyHeader;
    background: #369;
    height: 100%;
}

.hourly-header-text {
    font: bold 20px Sans-Serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    top: 50%;
    transform: rotate(270deg);
}

.daily-header {
    grid-area: dailyHeader;
    background: #369;
    height: 100%;
}

.daily-header-text {
    font: bold 20px Sans-Serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    top: 45%;
    transform: rotate(270deg);
}

.upcoming-container {
    grid-area: upcoming;
    margin-left: 1rem;
    position: relative;
}

.upcoming-header {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
    font-weight: 500;
    padding-top: 3rem;
}

.upcoming-button {
    margin-left: 2rem;
}

.upcoming-card-list {
    position: absolute;
    top: 17vh;
    display: flex;
    padding: 3rem;
}

.upcoming-card {
    height: 55vh;
    width: 250px;
    padding: 0.4rem 0.5rem 0 1.2rem;
    border-radius: 15px;
    background: rgb(219,219,219);
    box-shadow: -0.5rem 0.75rem 1.25rem #000;
    transition: 0.5s;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
}

.upcoming-card:hover {
    transform: translateY(-30vh);
    background: rgb(236, 224, 224);
}

.upcoming-card:hover~.upcoming-card {
    transform: translateX(125px);
}

.upcoming-card:not(:first-child) {
    margin-left: -125px;
}

.upcoming-card-header {
    border-bottom: solid;
    margin-bottom: 0.5rem;
    font-size: 16px;
}

.upcoming-card-header > * {
    margin: 0;
}

.upcoming-card-body {
    overflow: hidden;
    text-overflow: ellipsis;
}

.upcoming-card-name {
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.upcoming-card-description {
    margin: 0.25rem 0 0.5rem 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.upcoming-card-button {
    position: absolute;
    top: 58%;
    left: 60%;
}

@media screen and (max-height: 600px) {
    .upcoming-card-description {
        display: none
    }
    .upcoming-card-button {
        top: 50%;
    }
}