@property --sun-position {
  syntax: "<percentage>";
  inherits: true;
  initial-value: -40%;
}

@property --glow-position {
  syntax: "<percentage>";
  inherits: true;
  initial-value: 80%;
}

.warm {
  --sky1: #be91c6;
  --sky2: #ff7360;
  --sunlight1: #ffb5a1a2;
  --sunlight2: #ffebb946;
  --steam: #fea798;
  --rock1: #2d425b;
  --rock2: #db716a;
  --grass1: #fea798;
  --grass2: #fc8f7ce0;
  --onsen1: #c9655448;
  --onsen2: #84bdb1;
  --splash1: rgba(255, 255, 255, 0.02);
  --splash2: rgba(255, 255, 255, 0.04);
  --splash-width: 14vmin;
  --splash-height: 7vmin;
  --cycle: 720s;
  --grass-cycle: 10s;
}

.lucid {
  --sky1: #be91c6;
  --sky2: #ff9d8c;
  --sunlight1: #ffb5a1a2;
  --sunlight2: #ffebb946;
  --steam: #fea798;
  --rock1: #465363;
  --rock2: #af7c89;
  --grass1: rgba(192, 191, 159, 0.6);
  --grass2: rgba(192, 183, 159, 0.6);
  --onsen1: #c9655448;
  --onsen2: #84bdb1;
  --splash1: rgba(255, 255, 255, 0.02);
  --splash2: rgba(255, 255, 255, 0.04);
  --splash-width: 14vmin;
  --splash-height: 7vmin;
  --cycle: 720s;
  --grass-cycle: 10s;
}

/*** BASE SCENE ***/

.scene {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(
    var(--sky1),
    var(--sky2) var(--glow-position),
    var(--sky1)
  );
  --sun-position: 25%;
  --glow-position: 40%;
  animation: sunfall var(--cycle) linear infinite;
  animation-delay: calc(var(--cycle) / -2);
}

.sunContainer {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 60%;
}

.sunContainer::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: radial-gradient(
    circle at 29% calc(var(--sun-position) + 9vmin),
    var(--sunlight1) 5%,
    transparent 25%
  );
  mix-blend-mode: color;
}

.sun {
  position: absolute;
  background: white;
  border-radius: 50%;
  width: 15vmin;
  height: 15vmin;
  left: 23%;
  top: var(--sun-position);
  box-shadow: 0 0 10px white;
  filter: blur(3px);
}

.sun::before {
  content: "";
  position: absolute;
  left: 10%;
  top: calc(-100vh + 50%);
  border-radius: 100%;
  width: 80%;
  height: 200vh;
  background: radial-gradient(circle at center, var(--sunlight2), transparent);
  filter: blur(25px);
  mix-blend-mode: soft-light;
  opacity: 0;
  animation: katawaredoki var(--cycle) linear infinite;
  animation-delay: calc(var(--cycle) / -2);
}

.sun::after {
  content: "";
  position: absolute;
  left: calc(-100vw + 50%);
  top: 10%;
  border-radius: 100%;
  width: 200vw;
  height: 80%;
  background: radial-gradient(circle at center, var(--sunlight2), transparent);
  filter: blur(25px);
  mix-blend-mode: soft-light;
  opacity: 0;
  animation: katawaredoki var(--cycle) linear infinite;
  animation-delay: calc(var(--cycle) / -2);
}

.cloud {
  position: absolute;
  background: currentcolor;
  border-radius: 50%;
  opacity: 0.1;
  filter: blur(2px);
  animation: cloud-pass calc(var(--cycle) / 4) linear infinite;
}

.cloud1 {
  width: 60vmin;
  height: 4vmin;
  top: 20vmin;
  right: -100vmin;
  box-shadow: 10vmin 0.7vmin 0 -1vmin currentcolor,
    -7.5vmin -0.25vmin 0 -0.75vmin currentcolor;
}

.cloud2 {
  width: 55vmin;
  height: 3.5vmin;
  top: 15vmin;
  right: -90vmin;
  box-shadow: 7.5vmin 0.5vmin 0 -0.6vmin currentcolor,
    -8.5vmin -1vmin 0 -0.1vmin currentcolor;
  animation-delay: 20s;
}

.grass {
  position: absolute;
  bottom: 40%;
  mix-blend-mode: lighten;
}

.grass1 {
  height: 22vmin;
  width: 10vmin;
  border-radius: 0 65% 80% 0/0 100% 100% 0;
  left: 8%;
  border-right: 5px solid var(--grass2);
  box-shadow: 1px 0 0 var(--grass1);
  filter: drop-shadow(-0.5vmin 6vmin 0 var(--grass2))
    drop-shadow(4vmin 3vmin 0 var(--grass1));
  animation: grass-sway-1 var(--grass-cycle) infinite;
}

.grass2 {
  height: 18vmin;
  width: 5vmin;
  border-radius: 120% 0 0 0/100% 0 0 0;
  left: 12%;
  border-left: 7px solid var(--grass1);
  box-shadow: -1px 0 0 var(--grass2);
  animation: grass-sway-1 var(--grass-cycle) infinite;
}

.grass3 {
  height: 22vmin;
  width: 25vmin;
  border-radius: 55% 0 0 55%/100% 0 0 100%;
  left: 50%;
  border-left: 6px solid var(--grass1);
  filter: drop-shadow(-0.5vmin 6vmin 0 var(--grass2))
    drop-shadow(-4vmin 1vmin 0 var(--grass1));
  animation: grass-sway-2 var(--grass-cycle) infinite;
}

.grass4 {
  height: 17vmin;
  width: 5vmin;
  border-radius: 0 65% 0 0/0 90% 0 0;
  left: 45%;
  border-right: 7px solid var(--grass1);
  box-shadow: 2px 1px 0 var(--grass1);
  animation: grass-sway-2 var(--grass-cycle) infinite;
}

.grass5 {
  height: 25vmin;
  width: 22vmin;
  border-radius: 45% 0 0 70%/100% 0 0 100%;
  left: 92%;
  border-left: 6px solid var(--grass1);
  filter: drop-shadow(-0.5vmin 6vmin 0 var(--grass1));
  animation: grass-sway-2 var(--grass-cycle) infinite;
}

.grass6 {
  height: 21vmin;
  width: 25vmin;
  border-radius: 0 45% 50% 0/0 120% 125% 0;
  left: 79%;
  border-right: 7px solid var(--grass1);
  filter: drop-shadow(-0.5vmin 6vmin 0 var(--grass2))
    drop-shadow(-1vmin 6vmin 0 var(--grass1));
  animation: grass-sway-1 var(--grass-cycle) infinite;
}

.rock {
  position: absolute;
  bottom: 40%;
  box-shadow: inset 0 0 30px -10px rgba(0, 0, 0, 0.3);
}

.rock::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: inherit;
  height: inherit;
  background: inherit;
  border-radius: inherit;
  transform-origin: bottom center;
  transform: scaleX(1) scaleY(-0.6);
  filter: blur(3px);
}

.rock1 {
  border-radius: 100% 80% 0% 0%/167% 167% 0% 0%;
  width: max(30vmin, 14vw);
  height: max(15vmin, 7vw);
  left: -1%;
  background: linear-gradient(var(--rock2) 13%, var(--rock1));
  z-index: 1;
}

.rock2 {
  border-radius: 120% 80% 0% 0%/143% 179% 0% 0%;
  width: max(30vmin, 14vw);
  height: max(14vmin, 6.5vw);
  left: 12%;
  background: linear-gradient(var(--rock2) 13%, var(--rock1));
  z-index: 0;
}

.rock3 {
  border-radius: 100% 140% 0% 0%/250% 267% 0% 0%;
  width: max(30vmin, 14vw);
  height: max(12vmin, 5.5vw);
  left: 25%;
  background: linear-gradient(var(--rock2) 12%, var(--rock1));
  z-index: 1;
}

.rock4 {
  border-radius: 100% 80% 0% 0%/167% 167% 0% 0%;
  width: max(30vmin, 14vw);
  height: max(15vmin, 7vw);
  left: 37%;
  background: linear-gradient(var(--rock2) 10%, var(--rock1));
  z-index: 0;
}

.rock5 {
  border-radius: 120% 100% 0% 0%/200% 200% 0% 0%;
  width: max(32vmin, 15vw);
  height: max(15vmin, 7vw);
  left: 50%;
  background: linear-gradient(var(--rock2) 11%, var(--rock1));
  z-index: 1;
}

.rock6 {
  border-radius: 105% 85% 0% 0%/118% 147% 0% 0%;
  width: max(30vmin, 14vw);
  height: max(17vmin, 8vw);
  left: 63%;
  background: linear-gradient(var(--rock2) 9%, var(--rock1));
  z-index: 0;
}

.rock7 {
  border-radius: 120% 80% 0% 0%/200% 167% 0% 0%;
  width: max(32vmin, 15vw);
  height: max(15vmin, 7vw);
  left: 75%;
  background: linear-gradient(var(--rock2) 7%, var(--rock1));
  z-index: 0;
}

.rock8 {
  border-radius: 100% 80% 0% 0%/167% 167% 0% 0%;
  width: max(30vmin, 14vw);
  height: max(15vmin, 7vw);
  left: 88%;
  background: linear-gradient(var(--rock2) 5%, var(--rock1));
  z-index: 1;
}

.rockTexture {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  overflow: hidden;
}

.onsen {
  position: absolute;
  top: 60%;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(var(--onsen1), var(--onsen2));
  overflow: hidden;
  box-shadow: inset 0 1px 4px -3px white;
  z-index: 1;
}

.steam {
  position: absolute;
  left: var(--left);
  width: var(--width);
  height: var(--height);
  background: currentcolor;
  color: var(--steam);
  bottom: 0%;
  border-radius: 50%;
  opacity: 0.4;
  z-index: 3;
  filter: blur(20px);
  box-shadow: var(--top-xoffset) var(---top-yoffset) var(--top-blur)
      var(--top-spread) currentColor,
    var(--bot-xoffset) var(---bot-yoffset) var(--bot-blur) var(--bot-spread)
      currentColor;
  transform: translate3d(0, var(--height), 0);
}

/*** EXTRA EFFECTS ***/

.splash {
  position: absolute;
  width: var(--splash-width);
  height: var(--splash-height);
  box-shadow: inset 0 0 0 1000px var(--splash1);
  border-radius: 50%;
  transform: scale(0);
  z-index: 2;
}

.splash::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(var(--splash-width) * 2 / 3);
  height: calc(var(--splash-height) * 2 / 3);
  box-shadow: inset 0 0 0 1000px var(--splash2);
  border-radius: 50%;
}

.splash.active {
  animation: splash 2s;
}

/*** RAINING VARIANT ***/

.rainSvg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.rainDrop {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
}

.rainDrop1 {
  animation: rainfall 1.99s linear infinite 0.2s;
}

.rainDrop2 {
  animation: rainfall 2.08s linear infinite 0.8s;
}

.rainDrop3 {
  animation: rainfall 1.98s linear infinite 0.4s;
}

.rainDrop4 {
  animation: rainfall 2.04s linear infinite 1.4s;
}

.rainDrop5 {
  animation: rainfall 1.92s linear infinite 1.2s;
}

.rainDrop6 {
  animation: rainfall 2s linear infinite 1s;
}

.rainDrop7 {
  animation: rainfall 2.03s linear infinite 1.8s;
}

.rainDrop8 {
  animation: rainfall 2.11s linear infinite 1.6s;
}

.rainDrop9 {
  animation: rainfall 1.9s linear infinite 0.6s;
}

.rainDrop10 {
  animation: rainfall 2.09s linear infinite 1.7s;
}

.rainDrop11 {
  animation: rainfall 1.95s linear infinite 1.4s;
}

.rainDrop12 {
  animation: rainfall 2.01s linear infinite 2.2s;
}

.rainDrop13 {
  animation: rainfall 2.06s linear infinite 0.7s;
}

.rainDrop14 {
  animation: rainfall 1.91s linear infinite 1.1s;
}

.rainDrop15 {
  animation: rainfall 2.02s linear infinite 0.9s;
}

.rainDrop16 {
  animation: rainfall 1.97s linear infinite 0.3s;
}

.rainDrop17 {
  animation: rainfall 1.94s linear infinite 2s;
}

.rainDrop18 {
  animation: rainfall 1.99s linear infinite 1.8s;
}

.rainDrop19 {
  animation: rainfall 2.02s linear infinite 0.6s;
}

.rainSplash {
  stroke-dasharray: 0.9;
  stroke-dashoffset: 0.9;
}

.rainSplash1 {
  // animation timings matches .rainDrop4
  animation: rainsplash 2.04s linear infinite 1.4s;
}

.rainSplash2 {
  // animation timings matches .rainDrop6
  animation: rainsplash 2s linear infinite 1s;
}

.rainSplash3 {
  // animation timings matches .rainDrop9
  animation: rainsplash 1.9s linear infinite 0.6s;
}

.rainSplash4 {
  // position and animation timings matches .rainDrop1
  left: calc(7% - var(--splash-width) / 2);
  top: calc(92% - var(--splash-height) / 2);
  animation: splash 1.99s linear infinite 0.2s;
}

.rainSplash5 {
  // position and animation timings matches .rainDrop3
  left: calc(28% - var(--splash-width) / 2);
  top: calc(86% - var(--splash-height) / 2);
  animation: splash 1.98s linear infinite 0.4s;
}

.rainSplash6 {
  // position and animation timings matches .rainDrop5
  left: calc(51% - var(--splash-width) / 2);
  top: calc(67% - var(--splash-height) / 2);
  animation: splash 1.92s linear infinite 1.2s;
}

.rainSplash7 {
  // position and animation timings matches .rainDrop7
  left: calc(77% - var(--splash-width) / 2);
  top: calc(71% - var(--splash-height) / 2);
  animation: splash 2.03s linear infinite 1.8s;
}

.rainSplash8 {
  // animation timings matches .rainDrop10
  animation: rainsplash 2.09s linear infinite 1.7s;
}

.rainSplash9 {
  // animation timings matches .rainDrop11
  animation: rainsplash 1.95s linear infinite 1.4s;
}

.rainSplash10 {
  // position and animation timings matches .rainDrop13
  left: calc(40% - var(--splash-width) / 2);
  top: calc(77% - var(--splash-height) / 2);
  animation: splash 2.06s linear infinite 0.7s;
}

.rainSplash11 {
  // position and animation timings matches .rainDrop16
  left: calc(69% - var(--splash-width) / 2);
  top: calc(89% - var(--splash-height) / 2);
  animation: splash 1.97s linear infinite 0.3s;
}

.rainSplash12 {
  // animation timings matches .rainDrop17
  animation: rainsplash 1.94s linear infinite 2s;
}

.rainSplash13 {
  // position and animation timings matches .rainDrop18
  left: calc(86% - var(--splash-width) / 2);
  top: calc(79% - var(--splash-height) / 2);
  animation: splash 1.99s linear infinite 1.8s;
}

/*** SNOWING VARIANT ***/

.snowflake {
  position: absolute;
  top: -10vh;
  width: var(--size);
  height: var(--size);
  z-index: 2;
  filter: blur(2px);
  --size: 1.25vmin;
}

.snowflake:nth-child(4n) {
  filter: blur(1px);
  --size: 1.5vmin;
}

.snowflake:nth-child(6n) {
  filter: blur(3px);
  --size: 1vmin;
}

// loop for steam and snowflake
@for $i from 1 through 125 {
  .steam:nth-child(#{$i}) {
    --left: #{random(400) - 100}vmin;
    --width: #{random(15) + 30}vmin;
    --height: #{random(15) + 90}vmin;
    --top-xoffset: #{random(6) * -1 + 3}vmin;
    --top-yoffset: #{random(20)}vmin;
    --top-blur: #{random(10) + 15}px;
    --top-spread: #{random(2) * -1 + 1}vmin;
    --bot-xoffset: #{random(6) * -1 + 3}vmin;
    --bot-yoffset: #{random(20) * -1}vmin;
    --bot-blur: #{random(10) + 15}px;
    --bot-spread: #{random(2) * -1 + 1}vmin;
    animation: steam-rise 20s ease-out 0s infinite;
  }
  .snowflake:nth-child(#{$i}) {
    --left-ini: #{random(100)}vw;
    --left-end: calc(var(--left-ini) - #{random(30)}vw);
    animation: snowfall #{5 + random(15)}s linear infinite;
    animation-delay: -#{random(10)}s;
  }
}

/*** MEDIA QUERIES AND KEYFRAMES ***/

@media screen and (max-aspect-ratio: 1 / 1) {
  .rock2 {
    display: none;
  }
  .rock4 {
    display: none;
  }
  .rock6 {
    display: none;
  }
  .rock8 {
    display: none;
  }
}

@keyframes steam-rise {
  100% {
    transform: translate3d(0, -30vmin, 0);
    opacity: 0;
  }
}

@keyframes sunfall {
  0% {
    --sun-position: -40%;
    --glow-position: 80%;
  }
  50% {
    --sun-position: 30%;
  }
  70% {
    --glow-position: 40%;
  }
  100% {
    --sun-position: 100%;
    --glow-position: 80%;
  }
}

@keyframes katawaredoki {
  0% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  78% {
    opacity: 1;
  }
  79% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes cloud-pass {
  100% {
    transform: translate3d(calc(-100vw - 200vmin), 0, 0);
  }
}

@keyframes grass-sway-1 {
  10% {
    transform: rotate(-4deg);
  }
  25% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes grass-sway-2 {
  20% {
    transform: rotate(-12deg);
  }
  40% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes splash {
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes rainfall {
  0% {
    stroke-dashoffset: 100;
  }
  5% {
    stroke-dashoffset: 0;
  }
  10% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: -100;
  }
}

@keyframes rainsplash {
  0% {
    stroke-dashoffset: 0.9;
  }
  5% {
    stroke-dashoffset: 0;
  }
  10% {
    stroke-dashoffset: -0.9;
  }
  100% {
    stroke-dashoffset: -0.9;
  }
}

@keyframes snowfall {
  0% {
    transform: translate3d(var(--left-ini), 0, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(var(--left-end), 110vh, 0) rotate(360deg);
  }
}
