.landingContainer {
  text-align: center;
  padding-top: 7vh;
  height: calc(100vh - 90px);
  min-width: max-content;

  .landingSearchContainer {
    width: max(min(50%, 540px), 360px);
    height: 20px;
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding: 0.75em 1em;
    margin: auto;
    background-color: var(--light);
    border-radius: 2em;
    box-shadow: 0 1em 1.5em var(--emphasis-bg);
    & > * {
      background-color: var(--light);
    }
    
    .landingSearchBar {
      flex-grow: 1;
      font-size: inherit;
      border: none;
      outline: none;
      &:focus {
        border: none;
        outline: none;
      }
    }
  }
}
