.palette {
  --day: #a7d3eeeb;
  --night: #7a99aceb;
  --sunrise: #ffce91eb;
  --sunset: #eec2a7eb;
  --sunrise-gradient: linear-gradient(var(--day), var(--sunrise) 30%, var(--sunrise));
  --sunset-gradient: linear-gradient(var(--day), var(--sunset) 30%, var(--sunset));
  --sun: rgb(255, 254, 227);
  --sun-glow1: rgb(255, 244, 219);
  --sun-glow2: rgba(254, 231, 177, 0.75);
  --cloud: rgba(247, 247, 247, 0.75);
  --ocean: #488bea7b;
  --ocean-wave1: #cfcff9c9;
  --ocean-wave2: #446ef755;
  --ocean-wave3: #446ef7;
  --mountain1: rgb(145, 196, 113);
  --mountain2: rgb(62, 159, 80);
  --mountain3: rgb(175, 136, 68);
  --mountain-base: rgb(192, 157, 95);
  --window: rgba(255, 255, 255, 0.1);
  --window-frame: rgb(66, 73, 98);
  --cycle: 720s;
  --tree-cycle: 15s;
}

.scene {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: white;
}

.sky {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--night);
  z-index: 1;
  animation: sky-time-passage var(--cycle) infinite;
}

.sky::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--sunrise-gradient);
  opacity: 0;
  animation: sky-before-time-passage var(--cycle) infinite;
}

.sunContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 43%;
  overflow: hidden;
}

.sun {
  position: absolute;
  left: 40%;
  bottom: calc(0% - 12vmin);
  width: 10vmin;
  height: 10vmin;
  border-radius: 50%;
  background-color: var(--sun);
  box-shadow: 0 0 10px var(--sun);
  filter: blur(3px);
  animation: sun-move var(--cycle) infinite;
}

.sun::before {
  content: "";
  position: absolute;
  left: calc(50% - 10vmin);
  top: calc(50% - 10vmin);
  width: 20vmin;
  height: 20vmin;
  border-radius: 50%;
  filter: blur(7px);
  background: radial-gradient(var(--sun-glow1) 20%, var(--sun-glow2), var(--sunrise), transparent);
  opacity: 0;
  animation: sun-glow var(--cycle) infinite;
}

.lightingFilter {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0);
  animation: lighting-time-passage var(--cycle) infinite;
}

.cloud {
  position: absolute;
  background-color: var(--cloud);
  border-radius: 100%;
  filter: blur(10px);
  z-index: 1;
}

.cloud::before, .cloud::after {
  content: "";
  position: absolute;
  background-color: var(--cloud);
  border-radius: 100%;
}

.cloud1 {
  left: -50vmin;
  top: 2vmin;
  width: 30vmin;
  height: 12vmin;
  animation: 
    cloud-pass 
    calc(var(--cycle)/24 * 9) 
    linear 
    calc(var(--cycle)/24 * 0) 
    infinite;
}

.cloud1::before {
  left: 9vmin;
  top: -5vmin;
  width: 27vmin;
  height: 12vmin;
}

.cloud1::after {
  left: 12vmin;
  top: 3vmin;
  width: 33vmin;
  height: 12vmin;
}

.cloud2 {
  left: -50vmin;
  top: 5vmin;
  width: 36vmin;
  height: 13vmin;
  animation: 
    cloud-pass 
    calc(var(--cycle)/24 * 10) 
    linear 
    calc(var(--cycle)/24 * 8) 
    infinite;
}

.cloud2::before {
  left: 21vmin;
  top: 3vmin;
  width: 27vmin;
  height: 12vmin;
}

.cloud2::after {
  left: 9vmin;
  top: -6vmin;
  width: 33vmin;
  height: 15vmin;
}

.ocean {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, transparent 40%, var(--ocean) 45%, var(--ocean));
  z-index: 1;
}

.oceanWaves {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 57%;
  overflow: hidden;
  filter: blur(10px);
  opacity: 0.3;
  background-image: linear-gradient(transparent, var(--ocean-wave2), var(--ocean-wave3));
}

.wave {
  position: absolute;
  left: -100%;
  top: -100%;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at 0 0, transparent 33%, var(--ocean-wave1) 66%, transparent 67%);
}

.wave1 {
  animation: 
    wave-flow 
    calc(var(--cycle)/24 * 6) 
    linear calc(var(--cycle)/24 * 0) 
    infinite;
}

.wave2 {
  animation: 
    wave-flow 
    calc(var(--cycle)/24 * 6) 
    linear calc(var(--cycle)/24 * -1) 
    infinite;
}

.wave3 {
  animation: 
    wave-flow 
    calc(var(--cycle)/24 * 6) 
    linear calc(var(--cycle)/24 * -2) 
    infinite;
}

.wave4 {
  animation: 
    wave-flow 
    calc(var(--cycle)/24 * 6) 
    linear calc(var(--cycle)/24 * -3) 
    infinite;
}

.wave5 {
  animation: 
    wave-flow 
    calc(var(--cycle)/24 * 6) 
    linear calc(var(--cycle)/24 * -4) 
    infinite;
}

.wave6 {
  animation: 
    wave-flow 
    calc(var(--cycle)/24 * 6) 
    linear calc(var(--cycle)/24 * -5) 
    infinite;
}

.mountains {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.mountain1 {
  fill: var(--mountain1);
  filter: drop-shadow(0 -1px 3px rgba(0, 0, 0, 0.1)) blur(0.15px);
}

.mountain2 {
  fill: var(--mountain2);
  filter: drop-shadow(0 -1px 3px rgba(0, 0, 0, 0.1)) blur(0.15px);
}

.mountain3 {
  fill: var(--mountain3);
  filter: drop-shadow(0 -1px 3px rgba(0, 0, 0, 0.1)) blur(0.15px);
}

.mountainBase {
  fill: var(--mountain-base);
  filter: blur(0.3px);
}

.tree {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform-origin: left;
  z-index: 1;
}

.tree1 {
  animation: tree-sway var(--tree-cycle) ease-in infinite;
}

.tree2 {
  animation: tree-sway var(--tree-cycle) ease-in infinite 0.5s;
}

.room {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transform-style: preserve-3d;
}

.window {
  position: absolute;
  top: -60%;
  width: 50%;
  height: 150%;
  box-sizing: border-box;
  border: 10px solid var(--window-frame);
  background-color: var(--window);
}

.leftWindow {
  left: 0;
  transform: skewY(-15deg);
}

.leftWindow::before {
  content: "";
  position: absolute;
  right: -10px;
  top: 0;
  height: calc(100% + 10px);
  width: 1px;
  background-color: black;
}

.rightWindow {
  left: 50%;
  transform: skewY(15deg);
}

.floor {
  position: absolute;
  top: 90%;
  width: 50%;
  height: 100%;
  background-color: white;
  background-image: url("../assets/marble.jpg");
}

.leftFloor {
  left: 0%;
  transform: skewY(-15deg);
}

.rightFloor {
  left: 50%;
  transform: skewY(15deg) scaleX(-1);
}

@keyframes tree-sway {
  10% {
    transform: rotate(3deg) translateX(-9px);
  }
  16% {
    transform: rotate(-0.25deg) translateX(0px);
  }
  18% {
    transform: rotate(0.5deg) translateX(0px);
  }
  20% {
    transform: rotate(0deg) translateX(0px);
  }
}

@keyframes sun-move {
  0% {
    bottom: calc(0% - 12vmin);
  }
  25% {
    bottom: calc(100% + 12vmin);
  }
  100% {
    bottom: calc(100% + 12vmin);
  }
}

@keyframes sun-glow {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0.9;
  }
  7% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sky-time-passage {
  0% {
    background: var(--night);
  }
  5% {
    background: var(--day);
  }
  50% {
    background: var(--day);
  }
  60% {
    background: var(--night);
  }
  100% {
    background: var(--night);
  }
}

@keyframes sky-before-time-passage {
  0% {
    background: var(--sunrise-gradient);
    opacity: 0;
  }
  5% {
    background: var(--sunrise-gradient);
    opacity: 1;
  }
  10% {
    background: var(--sunrise-gradient);
    opacity: 0;
  }
  50% {
    background: var(--sunset-gradient);
    opacity: 0;
  }
  55% {
    background: var(--sunset-gradient);
    opacity: 1;
  }
  60% {
    background: var(--sunset-gradient);
    opacity: 0;
  }
  100% {
    background: var(--sunrise-gradient);
    opacity: 0;
  }
}

@keyframes lighting-time-passage {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  55% {
    background: rgba(0, 0, 0, 0);
  }
  60% {
    background: rgba(0, 0, 0, 0.1);
  }
  75% {
    background: rgba(0, 0, 0, 0.5);
  }
  95% {
    background: rgba(0, 0, 0, 0.1);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}

@keyframes cloud-pass {
  0% {
    left: -50vmin;
  }
  100% {
    left: calc(100vw + 50vmin);
  }
}

@keyframes wave-flow {
  0% {
    left: -100%;
    top: -100%;
  }
  100% {
    left: 100%;
    top: 100%;
  }
}
