.settingsContainer {
  padding: 2em 4em;

  .settingContainer {
    width: max(80%, 300px);
    margin: 0 auto 6em;

    .settingHeader {
      padding: 0.5em 1em;
      font-size: 2rem;
      font-weight: 600;
      border-bottom: 2px solid var(--dark);
    }
  }
}

@media screen and (max-width: 768px) {
  .settingsContainer {
    padding: 1em;

    .settingHeader {
      text-align: center;
    }
  }
}