.news-weather-container {
    height: calc(100vh - 90px);
    display: flex;
    justify-content: space-evenly;
    overflow-y: scroll;
    // changes scrollbar on Firefox
    scrollbar-width: thin;
    scrollbar-color: rgb(53, 53, 53) rgb(236, 236, 236);
}

// changes scrollbar on Chrome
.news-weather-container::-webkit-scrollbar {
    width: 10px;
}

.news-weather-container::-webkit-scrollbar-track {
    background: rgb(236, 236, 236);
}

.news-weather-container::-webkit-scrollbar-thumb {
    background-color: rgb(53, 53, 53);
    border-radius: 20px;
}

@media screen and (max-width: 800px) {
    .news-weather-container {
        flex-direction: column-reverse;
    }
}