.home-container {
    height: calc(100vh - 90px);
    overflow-y: hidden;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    display: grid;
    grid-auto-columns: minmax(440px, 40vw) minmax(700px, 60vw);
    grid-auto-rows: 60vh 25vh;
    grid-template-areas:
        "news weather"
        "news upcoming"
}

.home-container::-webkit-scrollbar {
    display: none;
}