$sky: #be91c6;
$orange1: #fea798;
$orange2: #ff846e;
$steam: #fea798;
$red1: #dba6a6;
$red2: #d46565;
$red3: #da6363;
$red4: #db4f4f;
$red5: #943b3b;
$rock: #2d425b;
$onsen: #84bdb1;
$splash1: rgba(255, 255, 255, 0.03);
$splash2: rgba(255, 255, 255, 0.04);
$splash3: rgba(255, 255, 255, 0.05);
$splash-width: 18vmin;
$splash-height: 9vmin;

/*** BASE SCENE ***/

.scene {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient($sky, $orange1, $sky);
}

.sunContainer {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.sunContainer::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: radial-gradient(circle at 30% 10%, $orange2 5%, transparent);
  mix-blend-mode: color-burn;
}

.sun {
  position: absolute;
  background: white;
  border-radius: 50%;
  width: 20vmin;
  height: 20vmin;
  left: 25%;
  top: 15%;
  box-shadow: 0 0 10px white;
}

.mountain {
  position: absolute;
  bottom: 35%;
  right: 0;
  transform: scale(-1.2, 0.8);
}

.grass {
  position: absolute;
  bottom: 40%;
}

.grass1 {
  height: 30vmin;
  width: 10vmin;
  border-radius: 0 60% 80% 0/0 100% 100% 0;
  left: 3%;
  border-right: 5px solid $orange2;
  box-shadow: 1px 0 0 $orange1;
  filter: drop-shadow(-0.5vmin 6vmin 0 $orange2)
    drop-shadow(-4.5vmin 10vmin 0 $orange1);
  animation: grass-sway-1 10s infinite;
}

.grass2 {
  height: 25vmin;
  width: 5vmin;
  border-radius: 60% 0 0 0/100% 0 0 0;
  left: 5%;
  border-left: 7px solid $orange1;
  box-shadow: 1px 0 0 $orange2;
  animation: grass-sway-1 10s infinite;
}

.grass3 {
  height: 25vmin;
  width: 25vmin;
  border-radius: 55% 0 0 55%/100% 0 0 100%;
  left: 50%;
  border-left: 8px solid $orange1;
  filter: drop-shadow(-0.5vmin 6vmin 0 $orange2)
    drop-shadow(-4vmin 1vmin 0 $orange1);
  animation: grass-sway-2 10s infinite;
}

.grass4 {
  height: 18vmin;
  width: 5vmin;
  border-radius: 0 65% 0 0/0 90% 0 0;
  left: 45%;
  border-right: 8px solid $orange2;
  box-shadow: 2px 1px 0 $orange1;
  animation: grass-sway-2 10s infinite;
}

.rock {
  position: absolute;
  bottom: 40%;
  box-shadow: inset 0 0 30px -10px rgba(0, 0, 0, 0.3);
}

.rock::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: inherit;
  height: inherit;
  background: inherit;
  border-radius: inherit;
  transform-origin: bottom center;
  transform: scaleX(1) scaleY(-0.6);
  filter: blur(3px);
}

.rock1 {
  border-radius: 100% 80% 0% 0%/25vmin 25vmin 0% 0%;
  width: 30vmin;
  height: 15vmin;
  left: -7%;
  background: linear-gradient($red3 13%, $rock);
  z-index: 1;
}

.rock2 {
  border-radius: 120% 80% 0% 0%/20vmin 25vmin 0% 0%;
  width: 30vmin;
  height: 14vmin;
  left: 4%;
  background: linear-gradient($red3 13%, $rock);
}

.rock3 {
  border-radius: 100% 100% 0% 0%/25vmin 30vmin 0% 0%;
  width: 30vmin;
  height: 16vmin;
  left: 15%;
  background: linear-gradient($red3 12%, $rock);
}

.rock4 {
  border-radius: 100% 120% 0% 0%/30vmin 32vmin 0% 0%;
  width: 30vmin;
  height: 12vmin;
  left: 25%;
  background: linear-gradient($red3 12%, $rock);
  z-index: 1;
}

.rock5 {
  border-radius: 100% 80% 0% 0%/25vmin 25vmin 0% 0%;
  width: 30vmin;
  height: 15vmin;
  left: 35%;
  background: linear-gradient($red3 10%, $rock);
}

.rock6 {
  border-radius: 120% 100% 0% 0%/30vmin 30vmin 0% 0%;
  width: 32vmin;
  height: 15vmin;
  left: 44%;
  background: linear-gradient($red3 11%, $rock);
  z-index: 1;
}

.rock7 {
  border-radius: 105% 85% 0% 0%/20vmin 25vmin 0% 0%;
  width: 30vmin;
  height: 17vmin;
  left: 55%;
  background: linear-gradient($red3 9%, $rock);
}

.rock8 {
  border-radius: 120% 80% 0% 0%/30vmin 25vmin 0% 0%;
  width: 32vmin;
  height: 15vmin;
  left: 66%;
  background: linear-gradient($red3 7%, $rock);
}

.rock9 {
  border-radius: 100% 80% 0% 0%/25vmin 25vmin 0% 0%;
  width: 30vmin;
  height: 15vmin;
  left: 78%;
  background: linear-gradient($red3 5%, $rock);
  z-index: 1;
}

.rock10 {
  border-radius: 100% 100% 0% 0%/40vmin 30vmin 0% 0%;
  width: 35vmin;
  height: 18vmin;
  left: 87%;
  background: linear-gradient($red3 1%, $rock);
}

.rockTexture {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  overflow: hidden;
}

.onsen {
  position: absolute;
  top: 60%;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(#fed29855, $onsen);
  overflow: hidden;
  box-shadow: inset 0 1px 4px -3px white;
  z-index: 1;
}

.steam {
  position: absolute;
  left: var(--left);
  width: var(--width);
  height: var(--height);
  background: currentcolor;
  color: $steam;
  bottom: 0%;
  border-radius: 50%;
  opacity: 0.4;
  z-index: 3;
  filter: blur(20px);
  box-shadow: var(--top-xoffset) var(---top-yoffset) var(--top-blur)
      var(--top-spread) currentColor,
    var(--bot-xoffset) var(---bot-yoffset) var(--bot-blur) var(--bot-spread)
      currentColor;
  transform: translate3d(0, var(--height), 0);
}

/*** EXTRA EFFECTS ***/

.splash {
  position: absolute;
  width: $splash-width;
  height: $splash-height;
  box-shadow: inset 0 0 0 1000px $splash1;
  border-radius: 50%;
  transform: scale(0);
  z-index: 2;
}

.splash::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc($splash-width * 2 / 3);
  height: calc($splash-height * 2 / 3);
  box-shadow: inset 0 0 0 1000px $splash2;
  border-radius: 50%;
}

.splash::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc($splash-width / 3);
  height: calc($splash-height / 3);
  box-shadow: inset 0 0 0 1000px $splash3;
  border-radius: 50%;
}

.splash.active {
  animation: splash 2s;
}

/*** RAINING VARIANT ***/

.rainSvg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}

.rainDrop {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
}

.rainDrop1 {
  animation: rainfall 2s linear infinite 0.2s;
}

.rainDrop2 {
  animation: rainfall 2.1s linear infinite 0.8s;
}

.rainDrop3 {
  animation: rainfall 1.9s linear infinite 0.4s;
}

.rainDrop4 {
  animation: rainfall 2.05s linear infinite 1.4s;
}

.rainDrop5 {
  animation: rainfall 1.95s linear infinite 1.2s;
}

.rainDrop6 {
  animation: rainfall 2s linear infinite 1s;
}

.rainDrop7 {
  animation: rainfall 2.05s linear infinite 1.8s;
}

.rainDrop8 {
  animation: rainfall 2.1s linear infinite 1.6s;
}

.rainDrop9 {
  animation: rainfall 1.9s linear infinite 0.6s;
}

.rainSplash {
  visibility: hidden;
}

.rainSplash1 {
  // animation timings matches .rainDrop4
  animation: rainsplash 2.05s linear infinite 1.4s;
}

.rainSplash2 {
  // animation timings matches .rainDrop6
  animation: rainsplash 2s linear infinite 1s;
}

.rainSplash3 {
  // animation timings matches .rainDrop9
  animation: rainsplash 1.9s linear infinite 0.6s;
}

.rainSplash4 {
  // position and animation timings matches .rainDrop1
  left: calc(7% - $splash-width / 2);
  top: calc(92% - $splash-height / 2);
  animation: splash 2s linear infinite 0.2s;
}

.rainSplash5 {
  // position and animation timings matches .rainDrop3
  left: calc(28% - $splash-width / 2);
  top: calc(86% - $splash-height / 2);
  animation: splash 1.9s linear infinite 0.4s;
}

.rainSplash6 {
  // position and animation timings matches .rainDrop5
  left: calc(51% - $splash-width / 2);
  top: calc(67% - $splash-height / 2);
  animation: splash 1.95s linear infinite 1.2s;
}

.rainSplash7 {
  // position and animation timings matches .rainDrop7
  left: calc(77% - $splash-width / 2);
  top: calc(71% - $splash-height / 2);
  animation: splash 2.05s linear infinite 1.8s;
}

/*** SNOWING VARIANT ***/

.snowflake {
  position: absolute;
  top: -10vh;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background: white;
  filter: blur(2px);
}

.snowflake:nth-child(4n) {
  filter: blur(6px);
}

.snowflake:nth-child(6n) {
  filter: blur(4px);
}

// loop for steam and snowflake
@for $i from 1 through 50 {
  .steam:nth-child(#{$i}) {
    --left: #{random(400) - 100}vmin;
    --width: #{random(15) + 30}vmin;
    --height: #{random(15) + 90}vmin;
    --top-xoffset: #{random(6) * -1 + 3}vmin;
    --top-yoffset: #{random(20)}vmin;
    --top-blur: #{random(10) + 15}px;
    --top-spread: #{random(2) * -1 + 1}vmin;
    --bot-xoffset: #{random(6) * -1 + 3}vmin;
    --bot-yoffset: #{random(20) * -1}vmin;
    --bot-blur: #{random(10) + 15}px;
    --bot-spread: #{random(2) * -1 + 1}vmin;
    animation: steam-rise 20s ease-out 0s infinite;
  }
  .snowflake:nth-child(#{$i}) {
    --size: #{random(5) * 0.2 + 0.5}vmin;
    --left-ini: #{random(100)}vw;
    --left-end: calc(var(--left-ini) - #{random(30)}vw);
    z-index: #{random(3) - 1};
    animation: snowfall #{5 + random(10)}s linear infinite;
    animation-delay: -#{random(10)}s;
  }
}

/*** MEDIA QUERIES AND KEYFRAMES ***/

@media screen and (max-width: 750px) {
  .rock2 {
    display: none;
  }
  .rock4 {
    display: none;
  }
  .rock6 {
    display: none;
  }
  .rock8 {
    display: none;
  }
  .rock10 {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .mountain {
    display: none;
  }
}

@keyframes steam-rise {
  100% {
    transform: translate3d(0, -30vmin, 0);
    opacity: 0;
  }
}

@keyframes grass-sway-1 {
  10% {
    transform: rotate(-4deg);
  }
  25% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes grass-sway-2 {
  20% {
    transform: rotate(-12deg);
  }
  40% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes splash {
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes rainfall {
  0% {
    stroke-dashoffset: 100;
  }
  5% {
    stroke-dashoffset: 0;
  }
  6% {
    stroke-dashoffset: 100;
  }
  100% {
    stroke-dashoffset: 100;
  }
}

@keyframes rainsplash {
  0% {
    visibility: visible;
    transform: translateY(0);
  }
  10% {
    visibility: visible;
    transform: translateY(-1px);
  }
  11% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
    transform: translateY(0);
  }
}

@keyframes snowfall {
  0% {
    transform: translate3d(var(--left-ini), 0, 0);
  }
  100% {
    transform: translate3d(var(--left-end), 110vh, 0);
  }
}
