$header-bg: #369;

@keyframes shiftingGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes slideUp {
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

.weatherContainer {
  padding: 0 1em;
  flex-grow: 1;

  .temperature {
    font-weight: 600;
  }

  .currentWeatherContainer {
    text-align: center;
    font-weight: 600;
    color: var(--black);
    height: 300px;
    width: 270px;
    border-radius: 10px;
    margin: 1em 0;

    .currentWeatherIcon {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    h4 {
      font-weight: 400;
      margin-bottom: 0;
    }

    p:not(:last-child) {
      margin: 0.5em 0 2em 0;
    }
  }

  .hourlyWeatherContainer {
    display: flex;
    height: 300px;
    margin: 1em 0;

    .hourlyHeader {
      background: $header-bg;
      width: 50px;
      border-radius: 10px 0 0 10px;

      .hourlyHeaderText {
        font: bold 20px Sans-Serif;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: var(--white);
        position: relative;
        top: 53%;
        transform: rotate(270deg);
      }
    }
  }

  .dailyWeatherContainer {
    display: flex;
    height: 300px;
    border-radius: 10px;
    margin: 1em 0;

    .dailyHeader {
      background: $header-bg;
      width: 50px;
      border-radius: 10px 0 0 10px;

      .dailyHeaderText {
        font: bold 20px Sans-Serif;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: var(--white);
        position: relative;
        top: 48%;
        transform: rotate(270deg);
      }
    }
  }

  .hourlyDailyWeather {
    font-weight: 450;
    color: var(--black);
    width: 180px;
    padding: 0 20px;
    border-radius: 0 10px 10px 0;
    display: grid;
    grid-auto-rows: 1fr;
    align-items: center;
    justify-items: center;
    &.hourly {
      grid-template-columns: repeat(3, auto);
    }
    &.daily {
      grid-template-columns: repeat(4, auto);
    }
  }

  .weatherShiftingBg {
    animation: shiftingGradient 120s ease infinite;
    background-size: 200% 200%;
  }

  .weatherClearBg {
    background: linear-gradient(
        rgba(255, 255, 255, 0.25),
        rgba(255, 255, 255, 0.25)
      ),
      url("../assets/clear.jpg");
  }

  .weatherCloudBg {
    background: linear-gradient(
        rgba(255, 255, 255, 0.25),
        rgba(255, 255, 255, 0.25)
      ),
      url("../assets/cloud.jpg");
  }

  .weatherRainBg {
    background: linear-gradient(
        rgba(255, 255, 255, 0.25),
        rgba(255, 255, 255, 0.25)
      ),
      url("../assets/rain.jpg");
  }

  .weatherSnowBg {
    background: linear-gradient(
        rgba(255, 255, 255, 0.25),
        rgba(255, 255, 255, 0.25)
      ),
      url("../assets/snow.jpg");
  }

  .weatherMistBg {
    background: linear-gradient(
        rgba(255, 255, 255, 0.25),
        rgba(255, 255, 255, 0.25)
      ),
      url("../assets/mist.jpg");
  }
}

.weatherHeader {
  margin: 1em 0 0 0;
  text-align: center;

  h2 {
    font-size: 32px;
    font-weight: 500;
    margin: 0;
  }
  span {
    font-size: 18px;
    font-weight: 300;
  }
}

@media screen and (max-width: 900px) {
  .weatherContainer {
    display: flex;
    justify-content: center;

    .currentWeatherContainer {
      border-radius: 10px 0 0 10px;
    }

    .hourlyWeatherContainer {
      .hourlyHeader {
        border-radius: 0;
      }
      .hourlyDailyWeather {
        border-radius: 0;
      }
    }

    .dailyWeatherContainer {
      .dailyHeader {
        border-radius: 0;
      }
      .hourlyDailyWeather {
        border-radius: 0 10px 10px 0;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .weatherContainer {
    .hourlyWeatherContainer {
      .hourlyDailyWeather {
        border-radius: 0 10px 10px 0;
      }
    }

    .dailyWeatherContainer {
      display: none;
    }
  }
}

@media screen and (max-width: 500px) {
  .weatherContainer {
    .currentWeatherContainer {
      border-radius: 10px;
    }

    .hourlyWeatherContainer {
      display: none;
    }
  }
}
