#workmap-svg-container {
    text-align: center;
}

#workmap-svg {
    width: 90vw;
}

.topLeft {
    animation: wiggleTopLeft 2s infinite;
}

.botRight {
    animation: wiggleBotRight 2s infinite;
}

@keyframes wiggleTopLeft {
    0% { transform: translate(0px, 0px) }
    50% { transform: translate(-2px, -2px) }
    100% { transform: translate(0px, 0px) }
}

@keyframes wiggleBotRight {
    0% { transform: translate(0px, 0px) }
    50% { transform: translate(2px, 2px) }
    100% { transform: translate(0px, 0px) }
}

.editGroup:hover .editCircle {
    fill: crimson;
}

.workmap-upload {
    width: 3vw;
    margin-left: 0.75rem;
    border: solid 1px;
    background-color: rgb(197, 197, 197);
}

.workmap-upload:hover {
    background:rgb(241, 241, 241);
    transform: scale(1.2, 1.2);
}

.modal-header {
    background-color: rgba(247, 119, 119, 0.5);
}

.modal-body {
    background-color: rgba(255, 217, 217, 0.473);
}

.modal-footer {
    background-color: rgba(247, 119, 119, 0.5);
}

.item-form {
    margin-bottom: 2rem;
    width: 75%;
}

#item-abbrev {
    width: 20%;
    display: inline;
    margin-left: 0.5rem;
    margin-right: 4rem;
}

#item-due {
    margin-left: 0.5rem;
}

.item-desc-label {
    display: block;
}