.workmap-container {
    padding: 0 1rem 1rem 1rem;

    .workmap-header {
        margin: 1rem 0;
        font-family:'Courier New', Courier, monospace;
        display: flex;
        justify-content: center;
        
        h2 {
            font-size: 40px;
            font-weight: 500;
        }

        .workmap-add-icon {
            margin-top: 7.5px;
            margin-left: 10px;
        }
        .workmap-add-icon:hover {
            color: rgb(128, 128, 128);
        }
    }

    .workmap-content {
        display: flex;
        align-items: center;
        justify-content: center;
        width: max-content;
        position: relative;

        .others-container {
            // width: unquote("max(12.5%, 200px)");
            // height: unquote("max(80vh, 600px)");
            width: 200px;
            height: 600px;
            border: 1px solid;
        }

        .focus-container {
            // width: unquote("max(87.5%, 1400px)");
            // height: unquote("max(80vh, 600px)");
            width: 1400px;
            height: 600px;
            border: 1px solid;
        }

        .workmap-item {
            position: absolute;
        }
    }
}