$card-color: ghostwhite;

.workmap-container {
    padding: 0 16px 16px 16px;
    font-family: 'Courier New', Courier, monospace;

    .workmap-header {
        margin: 16px 0;
        display: flex;
        justify-content: center;
        
        h2 {
            font-size: 40px;
            font-weight: 500;
        }

        .workmap-add-icon {
            margin-top: 7.5px;
            margin-left: 10px;
        }
        .workmap-add-icon:hover {
            color: rgb(128, 128, 128);
        }
    }

    .workmap-content {
        width: unquote("max(100vw - 32px, 1600px)");
        height: unquote("max(80vh, 900px)");
        background: #c5d1eb63;
        border: 7px solid #5a7684;
        border-radius: 10px;
        margin: 0;
        position: relative;

        .workmap-item {
            width: 250px;
            background: $card-color;

            .item-content {
                padding-top: 0;
                padding-bottom: 0;
                white-space: pre-line;
                p {
                    margin-bottom: 0;
                }
                // allow overflow by scrolling and hide scrollbar
                max-height: 300px;
                overflow-y: scroll;
                scrollbar-width: none;
                -ms-overflow-style: none;
                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }

        .workmap-item.focus {
            background-color: #ebd5c5;
        }

        .workmap-item.selectable:hover {
            background-color: #6494ed6e;
        }

        .path-datepicker-container {
            width: 150px;
            .path-datepicker {
                border-radius: 0;
                background: rgba(241, 241, 241, 0.8);
            }
        }

        .path-label {
            background: rgba(175, 175, 175, 0.25);
            border-radius: 5px;
            font-weight: 800;
            font-size: 16px;
        }

        #selecting-endpoint {
            position: absolute;
            width: 0;
            height: 0;
            display: hidden;
        }

        .not-signed-in-gif {
            width: 1125px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .not-signed-in-overlay {
            position: absolute;
            top: -7px;
            left: -7px;
            border-radius: 10px;
            z-index: 100;
            width: unquote("max(100vw - 32px, 1600px)");
            height: unquote("max(80vh, 900px)");
            background: rgba(0, 0, 0, 0.4);
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                color: white;
                text-align: center;
                width: 50%;
                font-size: 63px;
                font-weight: 600;
            }
        }
    }
}

.workmap-modal {
    background-color: $card-color;
    border: 1px solid;
    border-radius: 5px;
    width: max-content;
    padding: 10px;
    z-index: 100;
    // center modal
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    header {
        text-align: center;
        margin-bottom: 1rem;
        
        .modal-title {
            font-size: 32px;
            font-weight: 500;
        }
    }

    .modal-form {
        padding: 0.5rem 1rem 0.5rem 1rem;
        
        .modal-form-row {
            display: flex;
            gap: 1rem;
            margin-bottom: 0.5rem;
            width: 100%;
        }

        .modal-form-row.description {
            margin-bottom: 1rem;
        }

        .modal-form-row.buttons {
            justify-content: center;
        }
    }
}